#mainContainer{
    width: 100%;
    height: 500px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hanged{
    width: 80%;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    height: auto;
    background-color: black;
}
#counter{
background-color: blue;
height: 100px;
width: 100px;
border-radius: 50px;
}
#container{
  background-color: red;
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#dummy{
    height:auto;
    width: 100px;
    background-color: blue;
}
#showClue{
  margin: auto;
  background-color: #fff;
  height: 150px;
  width: 20%;
}
#cronometro{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 50px;
}
#showBtn{
  background-color: aqua;
}
#pokemon{
  background-color: #321c3b;
  height:auto;
  width: 20%;
}
.pokemonImg{
  height: 100%;
  width: 100%;
  filter: brightness(0);
}
.show{
  height: 100%;
  width: 100%;
  filter: brightness(1);
}
.hide{
  display:none;
}
#answers{
    margin: 5px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#answers>div{
    margin: 5px;
    width: 10%;
    height: 10%;
}
#keyboard{
    background-color: white;
    width: 90%;
    height: 50%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    word-wrap: break-word;
}
#keyboard>button{
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 25px;   
    border-radius: 50px; 
    margin: 10px;
    width:55px;
    height:55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.images{
    width: 100%;
    height: 100%;
}
/*correct incorrect*/
.correct{
    background-color:greenyellow;
}
.incorrect{
background-color: red;
}  
/*  */
.showBtn {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.showBtn span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.showBtn span:last-child {
  color: red;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.showBtn:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.showBtn:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.showBtn:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
/*  */
